html
head
   title Person
   body
      form(action = "/", method = "post")
         div
            input(type="text", name="name", placeholder="Enter your name")
         br
         div
            input(type="number", name="age", placeholder="Enter your age")
         br
         div
            input(type="text", name="nationality", placeholder="Enter your nationality")
            
         br
         input(type="submit", name="btn", id="btn")